.message-box {
    //border: 2px solid #9ddbba;
    background-color: #d9f7e8;
    padding: 4px 10px;
    border-radius: 5px;
    visibility: hidden;
    margin: 10px 0;

    p{
        font-family: "ubuntu", sans serif;
        color: #199754;
    }
}
